#navbar {
	background-color: #222222;
}

#navbar ul li{
	display: inline-block;
	padding: 10px 2%; 
}

#navbar ul li a{
	text-decoration: none; 
	color: #FFFFFF;
	font-size: 1.5em;
	padding: .25em .1em;
}

#navbar ul li a:hover{
	background:gray;
	color: #CCCCCC;
}

#menu {
	float: left;
	width: 21%;
	background: #DEDEDE;
}

#maincontent {
	float: right;
	width: 71%;
	padding: 0 2%;
}

#footer {
	padding: 20px 2%;
	width: 96%;
	background: #000000;
	color: #ffffff;
	clear: both;
}

#container{
	max-width: 1200px;
	margin: 0 auto;
}

#header {
	background: #222222;
	color: #FFF;
}

@media screen and (max-width:768px){
	ul {
		padding: 0;
		margin: 0;
	}
	
	#navbar ul li{
		display: block;
		width: 100%;
		padding: 0;
		margin: 0;
		text-align: center;
	}
	
	#navbar ul li a{
		padding: 0;
	}
	
	#navbar ul li a:hover{
		background: gray;
		color: #CCCCCC;
	}
	
	#menu {
		display: none;
	}
	
	#maincontent {
		width: 100%;
		padding: 0;
	}
	
	h1 {
		font-size: 1em;
	}
}